html, body{
    height: 100%;
}
body{
    padding-top: 50px;
}
#sidebar{
    display: none;
}
@media(min-width:992px){
    #sidebar{
        height: 100%;
        background: #222;
        padding: 0px;
        display: block;
    }
}
.list-group-item{
    border: none;
    background: transparent;
}
.list-group-item:last-child, .list-group-item:first-child{
    border-radius: 0px;
}
.list-group-item a{
    color: #9d9d9d;
}
.list-group-item a:hover,.list-group-item a:focus{
    color: #fff;
    text-decoration: none;
}
.list-group-item.active a{
    color: #fff;
}
.table > tbody > tr > td{
    vertical-align: middle;
}